<!DOCTYPE html>
<html>
  <head>
    <title>RailsReact</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= render 'layouts/react_hot_assets' %>
    <%= render 'layouts/no_script' %>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
